@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

#container {
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(90deg, #000000, #737373);
  margin-top: 10px;
  font-size: smaller;
  font-family: "Source Sans Pro", sans-serif;
}
#container span {
  margin: 0 10px;
}
img {
  width: 60%;
}

#container a {
  text-decoration: none;
  color: black;
}
.body {
  min-height: 100px;
  display: flex;
}
.content {
  flex: 1;
  min-height: 1000px;
}
