@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
}

#container{
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  border-top: 2px solid rgb(242, 196, 141);
  margin-top: 15px;
  font-size: smaller;
  font-family: 'Source Sans Pro', sans-serif;
}
#container span{
  margin: 0 10px;
}
img{
  width: 60%;
}

#container a{
  text-decoration: none;
  color: black;
  
}
.body{
  min-height: 100px;
  display: flex;
}
.content{
  flex: 1;
  background-color: #e7e5e5;
  min-height: 1000px;
}